<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th class="selector">
          <input type="checkbox" [checked]="allSelected" [indeterminate]="someSelected" (change)="toggleSelectAll($event)" title="Select All" />
        </th>
        <th (click)="onSort('year')" class="sortable">
          Year
          <span class="sort-indicator" *ngIf="sortKey === 'year'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('projectLocation')" class="sortable">
          Location
          <span class="sort-indicator" *ngIf="sortKey === 'projectLocation'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('sector')" class="sortable">
          Sector
          <span class="sort-indicator" *ngIf="sortKey === 'sector'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('category')" class="sortable">
          Category
          <span class="sort-indicator" *ngIf="sortKey === 'category'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('shortItemSpecification')" class="sortable">
          Short Item Specification
          <span class="sort-indicator" *ngIf="sortKey === 'shortItemSpecification'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('vendorName')" class="sortable">
          Vendor Name
          <span class="sort-indicator" *ngIf="sortKey === 'vendorName'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('moc')" class="sortable">
          MoC
          <span class="sort-indicator" *ngIf="sortKey === 'moc'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('uom')" class="sortable">
          UoM
          <span class="sort-indicator" *ngIf="sortKey === 'uom'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('totalRate')" class="sortable rate-col">
          Total Rate
          <span class="sort-indicator" *ngIf="sortKey === 'totalRate'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="input-row" *ngIf="showInputRow">
        <td class="selector"></td>
        <td><input type="text" [(ngModel)]="inputRow.year" /></td>
        <td><input type="text" [(ngModel)]="inputRow.sector" /></td>
        <td><input type="text" [(ngModel)]="inputRow.projectLocation" /></td>
        <td>
          <app-autocomplete
            [(ngModel)]="inputRow.category"
            [options]="categories"
            placeholder="Select Category"
            width="140px"
          ></app-autocomplete>
        </td>
        <td><input type="text" [(ngModel)]="inputRow.shortItemSpecification" /></td>
        <td><input type="text" [(ngModel)]="inputRow.vendorName" /></td>
        <td><input type="text" [(ngModel)]="inputRow.moc" /></td>
        <td><input type="text" [(ngModel)]="inputRow.uom" /></td>
        <td>
          <input type="number" [(ngModel)]="inputRow.totalRate" />
        </td>
      </tr>


      <tr *ngFor="let row of pagedRows" [class.selected]="row.selected">
        <td class="selector">
          <input type="checkbox" [(ngModel)]="row.selected" />
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textYear">
            <input type="text" [(ngModel)]="row.year" />
          </ng-container>
          <ng-template #textYear>{{ row.year }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textSector">
            <input type="text" [(ngModel)]="row.sector" />
          </ng-container>
          <ng-template #textSector>{{ row.sector }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textProject">
            <input type="text" [(ngModel)]="row.projectLocation" />
          </ng-container>
          <ng-template #textProject>{{ row.projectLocation }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textCategory">
            <app-autocomplete
              [(ngModel)]="row.category"
              [options]="categories"
              width="140px"
            ></app-autocomplete>
          </ng-container>
          <ng-template #textCategory>{{ row.category }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textItem">
            <input type="text" [(ngModel)]="row.shortItemSpecification" />
          </ng-container>
          <ng-template #textItem>{{ row.shortItemSpecification }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textVendor">
            <input type="text" [(ngModel)]="row.vendorName" />
          </ng-container>
          <ng-template #textVendor>{{ row.vendorName }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textMoc">
            <input type="text" [(ngModel)]="row.moc" />
          </ng-container>
          <ng-template #textMoc>{{ row.moc }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textUom">
            <input type="text" [(ngModel)]="row.uom" />
          </ng-container>
          <ng-template #textUom>{{ row.uom }}</ng-template>
        </td>

        <td>
          <ng-container *ngIf="row.isEditing; else textRate">
            <input type="number" [(ngModel)]="row.totalRate" />
          </ng-container>
          <ng-template #textRate>{{ row.totalRate | number: '1.2-2' }}</ng-template>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="footer">
    <span>{{ startItem }} - {{ endItem }} of {{ rows.length }} items</span>
    <div class="pager">
      <button type="button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button type="button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>