<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th class="selector"></th>
        <th>Year</th>
        <th>Location</th>
        <th>Project</th>
        <th>Category</th>
        <th>Short Item Specification</th>
        <th>Vendor Name</th>
        <th>MoC</th>
        <th>UoM</th>
        <th class="rate-col">
          Total Rate

        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="input-row">
        <td class="selector">
          <input type="checkbox" [checked]="inputRow.selected" disabled />
        </td>
        <td><input type="text" [(ngModel)]="inputRow.year" /></td>
        <td><input type="text" [(ngModel)]="inputRow.location" /></td>
        <td><input type="text" [(ngModel)]="inputRow.project" /></td>
        <td><input type="text" [(ngModel)]="inputRow.category" /></td>
        <td><input type="text" [(ngModel)]="inputRow.item" /></td>
        <td><input type="text" [(ngModel)]="inputRow.vendor" /></td>
        <td><input type="text" [(ngModel)]="inputRow.moc" /></td>
        <td><input type="text" [(ngModel)]="inputRow.uom" /></td>
        <td><input type="number" [(ngModel)]="inputRow.totalRate" /></td>
      </tr>

      <tr *ngFor="let row of pagedRows" [class.selected]="row.selected">
        <td class="selector">
          <input type="checkbox" [checked]="row.selected" (change)="toggleEdit(row)" />
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectYearText">
            <input type="text" [(ngModel)]="row.year" />
          </ng-container>
          <ng-template #projectYearText>{{ row.year }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectLocationText">
            <input type="text" [(ngModel)]="row.location" />
          </ng-container>
          <ng-template #projectLocationText>{{ row.location }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectNameText">
            <input type="text" [(ngModel)]="row.project" />
          </ng-container>
          <ng-template #projectNameText>{{ row.project }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectCategoryText">
            <input type="text" [(ngModel)]="row.category" />
          </ng-container>
          <ng-template #projectCategoryText>{{ row.category }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectItemText">
            <input type="text" [(ngModel)]="row.item" />
          </ng-container>
          <ng-template #projectItemText>{{ row.item }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectVendorText">
            <input type="text" [(ngModel)]="row.vendor" />
          </ng-container>
          <ng-template #projectVendorText>{{ row.vendor }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectMocText">
            <input type="text" [(ngModel)]="row.moc" />
          </ng-container>
          <ng-template #projectMocText>{{ row.moc }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectUomText">
            <input type="text" [(ngModel)]="row.uom" />
          </ng-container>
          <ng-template #projectUomText>{{ row.uom }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else projectRateText">
            <input type="number" [(ngModel)]="row.totalRate" />
          </ng-container>
          <ng-template #projectRateText>{{ row.totalRate | number: '1.2-2' }}</ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="footer">
    <span>{{ startItem }} - {{ endItem }} of {{ rows.length }} items</span>
    <div class="pager">
      <button type="button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button type="button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>