<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th class="selector"></th>
        <th (click)="onSort('year')" class="sortable">
          Year
          <span class="sort-indicator" *ngIf="sortKey === 'year'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('location')" class="sortable">
          Location
          <span class="sort-indicator" *ngIf="sortKey === 'location'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('sector')" class="sortable">
          Sector
          <span class="sort-indicator" *ngIf="sortKey === 'sector'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('category')" class="sortable">
          Category
          <span class="sort-indicator" *ngIf="sortKey === 'category'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('item')" class="sortable">
          Short Item Specification
          <span class="sort-indicator" *ngIf="sortKey === 'item'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('vendor')" class="sortable">
          Vendor Name
          <span class="sort-indicator" *ngIf="sortKey === 'vendor'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('moc')" class="sortable">
          MoC
          <span class="sort-indicator" *ngIf="sortKey === 'moc'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('uom')" class="sortable">
          UoM
          <span class="sort-indicator" *ngIf="sortKey === 'uom'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th (click)="onSort('rate')" class="sortable rate-col">
          Total Rate
          <span class="sort-indicator" *ngIf="sortKey === 'rate'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
      </tr>

    </thead>
    <tbody>
      <tr class="input-row">
        <td class="selector">
          <input type="checkbox" [checked]="inputRow.selected" disabled />
        </td>
        <td><input type="text" [(ngModel)]="inputRow.year" /></td>
        <td><input type="text" [(ngModel)]="inputRow.location" /></td>
        <td><input type="text" [(ngModel)]="inputRow.sector" /></td>
        <td>
          <app-autocomplete
            [(ngModel)]="inputRow.category"
            [options]="categories"
            placeholder="Select Category"
            width="140px"
          ></app-autocomplete>
        </td>
        <td><input type="text" [(ngModel)]="inputRow.item" /></td>
        <td><input type="text" [(ngModel)]="inputRow.vendor" /></td>
        <td><input type="text" [(ngModel)]="inputRow.moc" /></td>
        <td><input type="text" [(ngModel)]="inputRow.uom" /></td>
        <td><input type="number" [(ngModel)]="inputRow.rate" /></td>
      </tr>

      <tr *ngFor="let row of pagedRows" [class.selected]="row.selected">
        <td class="selector">
          <input type="checkbox" [checked]="row.selected" (change)="toggleEdit(row)" />
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawYearText">
            <input type="text" [(ngModel)]="row.year" />
          </ng-container>
          <ng-template #rawYearText>{{ row.year }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawLocationText">
            <input type="text" [(ngModel)]="row.location" />
          </ng-container>
          <ng-template #rawLocationText>{{ row.location }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawSectorText">
            <input type="text" [(ngModel)]="row.sector" />
          </ng-container>
          <ng-template #rawSectorText>{{ row.sector }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawCategoryText">
            <app-autocomplete
              [(ngModel)]="row.category"
              [options]="categories"
              width="140px"
            ></app-autocomplete>
          </ng-container>
          <ng-template #rawCategoryText>{{ row.category }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawItemText">
            <input type="text" [(ngModel)]="row.item" />
          </ng-container>
          <ng-template #rawItemText>{{ row.item }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawVendorText">
            <input type="text" [(ngModel)]="row.vendor" />
          </ng-container>
          <ng-template #rawVendorText>{{ row.vendor }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawMocText">
            <input type="text" [(ngModel)]="row.moc" />
          </ng-container>
          <ng-template #rawMocText>{{ row.moc }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawUomText">
            <input type="text" [(ngModel)]="row.uom" />
          </ng-container>
          <ng-template #rawUomText>{{ row.uom }}</ng-template>
        </td>
        <td>
          <ng-container *ngIf="row.selected; else rawRateText">
            <input type="number" [(ngModel)]="row.rate" />
          </ng-container>
          <ng-template #rawRateText>{{ row.rate | number: '1.2-2' }}</ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="footer">
    <span>{{ startItem }} - {{ endItem }} of {{ rows.length }} items</span>
    <div class="pager">
      <button type="button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button type="button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>